
@{
    ViewData["Title"] = "ViewIndividual";
}

<h4>Document MetaData</h4>

<ul>
    @foreach (var record in ViewData["entries"] as IList<UserUpload>)
    {
    <li>
        @record.Name
    </li>
    <li>
        @record.CreatedDate
    </li>
    <li>
        @record.fileName
    </li>
    }
</ul>
