@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> _sm;

@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome - <b>@ViewBag.message</b></h1>

<hr />
@if(_sm.IsSignedIn(User))
{
<form method="post" asp-controller="IdentityUser" asp-action="Logout">
    <input type="submit" value="Logout" />
</form>
}