@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Portal for Traffic Prediction</h1>
    <p>Working portal where users’ needs to be authenticated, further they would be granted an ability to upload dataset for training and predict the traffic volumes on future date based on ML model.</p>
</div>
